<!-- ACTIVITY -->
<div class="box">
  <h2>Activity</h2>
  <div class="activity clearfix">
    <div class="col-xs-3">
      <div class="what">By hour</div>
      <div class="how">sum of events</div>
    </div>
    <div class="col-xs-9">
      <div class="description"><span class="sparkline">{{ metrics.sparkline_sum_events_vs_time|join(',') }}</span></div>
    </div>
  </div>
  <div class="activity clearfix">
    <div class="col-xs-3">
      <div class="what">By days</div>
      <div class="how">sum of events</div>
    </div>
    <div class="col-xs-9">
      <div class="description"><span class="sparkline">{{ metrics.sparkline_sum_events_vs_day|join(',') }}</span></div>
    </div>
  </div>
  <div class="activity clearfix">
    <div class="col-xs-3">
      <div class="what">By months</div>
      <div class="how">sum of events</div>
    </div>
    <div class="col-xs-9">
      <div class="description"><span class="sparkline">{{ metrics.sparkline_sum_events_vs_month|join(',') }}</span></div>
    </div>
  </div>
</div>
