{% macro item(value,description) -%}
  <div class="summary-item">
    <div class="number pull-left text-center">{{ value }}</div>
    <div class="description pull-right">{{ description }}</div>
  </div>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{metrics.userinfo.name}}</title>
    <!-- CSS -->
    <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/css/main.css" rel="stylesheet">
  </head>
  <!-- BODY -->
  <body>
    <div class="container">
      <!-- HEADER -->
      <div class="row">
        <div class="col-xs-12">
          {%include 'user/header.jinja.html' %}
        </div>
      </div>
      <!-- CONTENT -->
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          {% include 'user/trophy.jinja.html' %}
          {% include 'user/activity.jinja.html' %}
          {% include 'user/skills.jinja.html' %}
          {% include 'user/extract.jinja.html' %}
        </div>
        <div class="col-xs-12 col-sm-5">
          {% include 'user/summary.jinja.html' %}
          {% include 'user/statistics.jinja.html' %}
          {% include 'user/words.jinja.html' %}
        </div>
      </div>
    </div>
    <!-- JQUERY -->
    <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="public/bower_components/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SCRIPTS -->
    <script src="public/js/scripts.js"></script>
  </body>
</html>

