<!-- NOTABLE -->
<div class="box">
  <h2>Extract</h2>
  <ul id="extract" class="clearfix">
    <li>
      <div class="year pull-left">160</div>
      <div class="description pull-right">
        <h3>characters in longuest word</h3>
        <p>dorrrrrraaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">23</div>
      <div class="description pull-right">
        <h3>alias call</h3>
        <p>
        Arnaud condescendant Canu <span> - Benoit Dessort</span> arnaud centre du monde canu <span> - Benoit Dessort</span> arnaud jamais premier canu <span> - Benoit Dessort</span> Arnaud scientifique Canu <span> - Benoit Dessort</span> Arnaud-nardpivot-Canu <span> - Benoit Dessort</span> Arnaud hipster minimaliste canu <span> - Benoit Dessort</span> Arnaud Ghost Canu <span> - Benoit Dessort</span> arnaud aucun-rapport canu <span> - Benoit Dessort</span> Arnaud Limier Canu <span> - Benoit Dessort</span> Arnaud Vomito Canu <span> - Benoit Dessort</span>
        </p>
      </div>
    </li>
    <li>
      <div class="year pull-left">27</div>
      <div class="description pull-right">
        <h3>hashtag used</h3>
        <p>#grosrelou #bullshitExcuse #marseillaise #roadRebelz #thingsDorraCantUnderstand #y28 #bonPublic #hashtag #bullyAtWork</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2012</div>
      <div class="description pull-right">
        <h3>Second level graduation in Graphic Design</h3>
        <p>Ducimus, aliquam tempore autem itaque et accusantium!</p>
      </div>
    </li>
  </ul>
</div>

