<!-- SKILLS -->
<div class="box">
  <h2>Skills</h2>
  <div class="skills">
    <div class="item-skills" data-percent="1.00">imgur.com</div>
    <div class="item-skills" data-percent="0.90">googleusercontent.com</div>
    <div class="item-skills" data-percent="0.80">youtube.com</div>
    <div class="item-skills" data-percent="0.75">reddit.com</div>
    <div class="item-skills" data-percent="0.25">gfycat.com</div>
    <div class="item-skills" data-percent="0.05">wikipedia.org</div>
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Newbe</div>
      <div class="legend-left legend"><span>Amateur</span></div>
      <div class="legend-left legend"><span>Proficient</span></div>
      <div class="legend-right legend"><span>Expert</span></div>
      <div class="legend-right legend">Master</div>
    </div>
  </div>
</div>

