<!-- SKILLS -->
<div class="box">
  <h2>Skills</h2>
  <div class="skills">
    {% for site,count in metrics.main_site %}
    <div class="item-skills" data-percent="{{ count|smoothlognorm(metrics.max_user_dns) }}" data-toggle="tooltip" data-placement="right" title="{{site}} x{{count}}">{{ site }}</div>
    {% endfor %}
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Newbe</div>
      <div class="legend-left legend"><span>Amateur</span></div>
      <div class="legend-left legend"><span>Proficient</span></div>
      <div class="legend-right legend"><span>Expert</span></div>
      <div class="legend-right legend">Master</div>
    </div>
  </div>
</div>

