<div class="box clearfix">
  <h2>Funny facts</h2>
  {{ item(user.avg_day_events|round(1), "average number of event per day") }}
  {{ item(user.max_day_events, "max event in one day") }}
  {{ item(user.sum_url,"total number of urls") }}
  {{ item(user.sum_uniq_words,"total unique words") }}
  {{ item(user.avg_min_time_event|slice(3)|map('join')|join(':')|truncate(5,True,''),"avg first time event") }}
  {{ item(user.avg_max_time_event|slice(3)|map('join')|join(':')|truncate(5,True,''),"avg last time event") }}
  {{ item(user.sum_reference,"total number of name referenced") }}
  {{ item(user.sum_laughs,"total number laughs") }}
  {% if user.sum_cafe > 0 %}
    {{ item(user.sum_cafe,"total coffee call") }}
  {% endif %}
  {% if user.sum_chouquette > 0 %}
    {{ item(user.sum_chouquette,"total chouquette call") }}
  {% endif %}
</div>

