<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meet the Hangout</title>
    <!-- CSS -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <link href="public/css/font-awesome.css" rel="stylesheet">
    <link href="public/css/ihover.css" rel="stylesheet">
    <link href="public/css/main.css" rel="stylesheet">
  </head>
  <!-- BODY -->
  <body>
    <div class="container">
      <!-- HEADER -->
      <div class="row">
        <div class="col-xs-12">
          {%include 'overview/header.jinja.html' %}
        </div>
      </div>
      <!-- CONTENT -->
      <div class="row">
        <div class="col-xs-12">
          {%include 'overview/user.jinja.html' %}
        </div>
      </div>
    </div>
    <!-- JAVASCRIPT -->
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
  </body>
</html>


