{% macro thumbnail(uid,user) -%}
  <div class="col-xs-6 col-md-2">
    <div class="ih-item circle effect17">
      <a href="{{uid}}.html" target="_blank" class="thumbnail avatar">
        <div class="img"><img src="{{ user.avatar }}" alt="avatar"></div>
          <div class="info">
            <h3>Meet</h3>
            <p>{{ user.name }}</p>
          </div>
      </a>
    </div>
  </div>
{%- endmacro %}

<div class="box">
  <h2>Hydra's heads</h2>
  {% for uid,user in users.iteritems() %}
    {{ thumbnail(uid,user) }}
  {% endfor %}
</div>
